PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://user:password@host:5432/dbname
GOOGLE_CLIENT_ID=tu_google_client_id_aqui
GOOGLE_CLIENT_SECRET=tu_google_client_secret_aqui
JWT_SECRET=una_cadena_aleatoria_larga_aqui
